__init__.py
__init__.cpython-38.pyc
forms.cpython-38.pyc
locators.cpython-38.pyc
mouse.cpython-38.pyc
test_setup.cpython-38.pyc
login.cpython-38.pyc
products_page.cpython-38.pyc
remove_products_page.cpython-38.pyc
2ed7d48a-ef90-497f-b545-db641489a18f-result.json
3fd4d345-ab77-443a-b900-d70e6df0784e-result.json
